/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Shippori Mincho B1", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #302e2e;
  color: #eeeeee;
}

#trade-index {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

#trade-index .currency-list {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#trade-index .currency-list li {
  list-style: none;
}

#trade-index .currency-list li a {
  color: inherit;
}

#trade-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 2em;
}

.title {
  font-size: 1.4em;
}

.orders {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.orders td,
.orders th {
  text-align: center;
  padding: 3% 10%;
}

.orders td:first-child,
.orders th:first-child {
  padding-left: 0;
}

#buy-orders .title {
  color: #4cee4c;
}

#sell-orders .title {
  color: #ee4c4c;
}

.orders {
  display: flex;
}
